.head{
    width: 100%; 
    min-height: 100px;
    overflow: hidden; /* height:width ratio = 9/16 = .5625  */
}
body{
    font-family: 'Quicksand', sans-serif;
}
h4{
  font-family: 'Quicksand', sans-serif;
}
.about-content{
    width: 30%;
}
.col-container {
    display: table; /* Make the container element behave like a table */
    width: 90%; /* Set full-width to expand the whole page */
    padding-top: 40px;
}
.col-container1 {
    display: table; /* Make the container element behave like a table */
    width: 90%; /* Set full-width to expand the whole page */
    padding-top: 40px;
}

.col1 {
    display: table-cell; /* Make elements insidse the container behave like table cells */
} 
.col2 {
    display: table-cell; /* Make elements insidse the container behave like table cells */
} 
.about-us{
    min-height: 100px;
    overflow: hidden;
    padding-bottom: 80px;
}
.hd{
    padding-top: 100px;
}
.mynav:not(.is_stuck){
    position: fixed;
    left: 0;
    right: 0;
    opacity: 0.8;
    z-index: 999;
}
.contain{
   position: relative;
   width: 100vw;
}

.contain ItemImage{
   width: 100vw;
}

.contain .OverlayIcon{
  cursor: pointer;
  position: absolute;
  top : 50%;
  left : 50%;
  transform: translate(-50%, -50%);

}

svg:hover #play-svg{
  fill: #CC181E;
}
.team{
    min-height: 100px;
    overflow: hidden;
    padding-bottom: 100px; 
}
.hd1{
    padding-top: 100px;
    max-height: 200px;
}
.div-height{
    max-height: 20px;
}
.frm1{
    padding-left: 100px;
}
.head2{
    width: 100%; 
    height: 100vh;
    overflow: hidden; /* height:width ratio = 9/16 = .5625  */
    min-height: 100px;
}
.tb1
{
    padding-top: 20px;
    width: 40%;
}
.head6{
    width: 100%; 
    overflow: hidden; /* height:width ratio = 9/16 = .5625  */
    padding-bottom: 150px;
}
.team-head{
    height: 20%;
}
.cap-pad1{
    padding-top: 150px;
}
.cap-pad2{
    padding-top: 200px;
}