/*preloader*/
.loader{
  padding-top: 250px;
}
/* Startup Modal */
.modal2{
  padding-top: 20px;
}
.modal2-head h4{
  color: #3B5998;
}
.modal2-text{
  padding-top: 10px;
}
/* Navigation Bar */
.mynav:not(.is_stuck){
    position: fixed;
    background: linear-gradient(-1800deg,#311b92,#3B5998);
    left: 0;
    right: 0;
    opacity: 1.0;
    z-index: 999;
}

/* General CSS */
body{
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 0px;
}
.head{
    margin 0px;
    width: 100%;
    height: 100vh;
}
h4{
  font-family: 'Roboto Condensed', sans-serif;
}

/* Slider captions */
.head .slider .slides .cap1{
    text-align: center;
    padding-top: 150px;
    text-shadow: 4px 2px 8px #000000;
    z-index: 1;
}
.head .slider .slides .cap2{
    text-align: left;
    padding-top: 0px;
    text-shadow: 4px 2px 8px #000000;
    z-index: 1;
}
.head .slider .slides .cap3{
    text-align: right;
    padding-top: 280px;
    text-shadow: 4px 2px 8px #000000;
    z-index: 1;
}
.head .slider .slides .cap4{
    text-align: left;
    padding-top: 280px;
    text-shadow: 4px 2px 8px #000000;
    z-index: 1;
}


/*About Us*/
#about-us .team-board .head-about a{
    text-shadow: 4px 1px 10px #07616c;
}
.about-color{
    background: linear-gradient(-180deg,#e8eaf6,#ffffff);
}
.team-nav{
    margin: 0px 2px 0px 2px;
}
/* Portfolio */
.teamPortfolio .card{
  height: 330px;
}
.teamPortfolio .card .card-image{
  max-height: 150px;
}
.teamPortfolio .card .card-image img{
  border-radius: 80%;
  margin-left: 15px;
  margin-top: 10px;
  height: 170px;
  width: 145px;
}
.work img{
    text-align: center;
    margin: 0.3%;
    width: 20%;
    height: 10%;
}
.portfolio{
    text-align: center;
    height: 350px;
}
.portfolio h4 {
    padding-top: 125px;
}

.portfolioFilter a:focus {
  outline: none;
}

.portfolioFilter {
  padding: 15px 0;
}

.portfolioFilter a {
  margin-right: 6px;
  color: #666;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 4px 15px;
  border-radius: 50px;
  display: inline-block;
}

.portfolioFilter a.current {
  background:#1a237e;
  border: 1px solid #1e1e1e;
  color: #f9f9f9;
}
.portfolioContainer{
  border: 1px solid #eee;
  border-radius: 2px;
  padding-left: 52px;
  min-height: 100vh;
}
.portfolioContainer img {
  width: 300px;
  height: 200px;
  padding: 0px 5px 2px 0px;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
.para .color-overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(-90deg, #73C2FB,#95C8D8);
    opacity: 0.5;
    position: absolute;
}
.para img{
    position: relative;
}
.portfolio div h4{
    z-index: 1;
}
.portfolio div p{
    z-index: 1;
}
/* Header for All */
.head-about{
    padding-top: 90px;
    text-decoration-style: solid;
    padding-left: 30px;
}
.head-about hr{
    width: 20px;
}
.content{
    padding-top: 30px;
    padding-left: 30px;
}
.content hr{
    width: 100px;
}

/* Vertical */
.vertical{
    height: 100vh;
    overflow: hidden;
}
.col-container1 {
    display: table; /* Make the container element behave like a table */
    width: 90%; /* Set full-width to expand the whole page */
    padding-top: 40px;
}
.verti-sec .col-container1 .card .card-content i{
    color:#01579b;
}

.col2 {
    display: table-cell; /* Make elements inside the container behave like table cells */
}
.vertical .col-container1 .card{
    cursor: pointer;
}

/* Process */
.process{
    height: 100vh;
}
.process-collapsible{
    width: 90%;
    padding-left: 10%;
}
.process .process-collapsible .collapsible li .collapsible-header i{
    color:#01579b;
}
/* Contact Us */
.contact-us{
    padding-bottom: 20px;
}
.tb1
{
    padding-top: 20px;
    width: 450px;
}
.tb1 .frm{
    padding-top: 40px;
    padding-left: 40px;
}
.contact-overlay{
    background: #000000;
    width: 100%;
    height: 100%;
}
.frm{
    box-shadow: 4px 1px 30px 2px #7986cb;
}


/*Team*/
.teamPortfolio .card{
    margin: 1%;
    width: 20%;
}

/*Partners*/
.info-partner .parallax-container{
    height: 300px;
}
.info-partner .parallax-container .carousel-partner{
    padding-top: 80px;
}
.info-partner .parallax-container .heading-partner{
    padding-top: 80px;
}

/*Event Board*/
.event-board{
    height: 100vh;
}
.event-board .event-block .card{
    display: inline-block;
    margin: 0.5%;
    width: 400px;
}
.event-board .event-block{
    padding-top: 50px;
}
#button-pos{
    display: none;
}

/*Button Floating Color*/
#about-us .team-board a{
    color: #116466;
}

/* Footer */
.page-footer{
     background: linear-gradient(-90deg, #3B5998,#034f84);
}
